section {
  // border-top: toRem(2) solid #fff;
  // border-bottom: toRem(2) solid #fff;
}

// == HERO SECTION ===============================================
.hero {
  position: relative;
  z-index: 2;
  @include adaptiveValue("margin-bottom", 470,150,2,3840,1920.98);
  @include adaptiveValue("margin-bottom", 150,5,3,1920.98,1024.98);
  // .hero__container
  &__container {
  }
	// .hero__first
	&__first {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 62svh;
	}
  // .hero__logo
  &__logo {
  }
  // .hero__start
  &__start {
  }
  // .hero__second
  &__second {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  // .hero__t-wr
  &__t-wr {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: toRem(140);
    max-width: 99%;
  }
  // .hero__title
  &__title {
  }
  // .hero__right
  &__right {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    top: 100%;
    left: 120%;
    // transform: translate(100%,100%);
    .panda-img {
      position: absolute;
      left: -32%;
      width: 58vw;
      height: auto;
    }
  }
  // .hero__decor
  &__decor {
  }
}

.logo__ic {
  position: fixed;
  top: 50%;
  left: 50px;
  width: 47%;
  height: auto;
  transform: translate(0%,-50%);
}

.start-hero {
  grid-column: 2/3;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-left: toRem(100);
  // .start-hero__list
  &__list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 6%;
    width: 100%;
  }
  // .start-hero__item
  &__item {
    position: relative;
    border: toRem(2) solid #fff;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &:last-child {
      .start-hero__num {
        &::after {
          display: none;
        }
      }
    }
  }
  // .start-hero__num
  &__num {
    font-family: "Anton";
    color: $yellow;
    font-size: 4vw;
    position: relative;
    line-height: 1.2;
    margin-bottom: 0.5vw;
    &::after {
      content:'+';
      position: absolute;
      right: -1.5vw;
      bottom: 0%;
    }
  }
  // .start-hero__name
  &__name {
    font-weight: "Gilroy";
    font-weight: 400;
    font-size: 1.6vw;
  }
}

.title-hero {
  font-weight: 700;
  line-height: 0.8;
  
  text-transform: uppercase;
  font-size: 13vw;
  letter-spacing: -0.06em;
  .split-chars {
    display: block;
    overflow: hidden;
    padding-right: 0.06em;
    font-kerning: none;
    .char {
        display: inline-block;
        transform: translateY(100%);
    }
  }
  .split-chars {
  }
  // .title-hero__a
  &__a {
    color: $yellow;
  }
  // .title-hero__b
  &__b {
    font-weight: 600;
    text-align: right;
    margin-right: toRem(26);
  }
  // .title-hero__c
  &__c {
  }
  // .title-hero__d
  &__d {
    color: $yellow;
    text-align: right;
  }
}

.decor {
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  // .decor__lines
  &__lines {
    width: 60%;
    overflow: hidden;
    padding-bottom: toRem(48);
    .lines-img {
      width: 100%;
      height: auto;
    }
  }
  .count-list {
    margin-right: toRem(37);
    width: 39%;
    height: auto;
  }
}

// == SERVICES SECTION =================================================
.services {
  overflow: hidden;
  // .services__body
  &__body {
    display: flex;
    flex-wrap: nowrap;
    
    // overflow-x: scroll;
    // scroll-behavior: smooth;
  }
  // .services__item
  &__item {
    padding-top: toRem(20);
    @include adaptiveValue("padding-left", 50, 20,0,1920,1024);
    @include adaptiveValue("padding-right", 50, 20,0,1920,1024);
    &:last-child {
      padding-right: 30vw !important;
    }
  }
}

.item-first {
  min-width: 100vw;
  display: grid;
  grid-template-columns: 1fr 51vw;
	// .item-first__wrapper
	&__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: toRem(15);
    padding-right: toRem(40);
	}
  // .item-first__txts
  &__txts {
    // max-width: 60%;
  }
  // .item-first__txt
  &__txt {
    font-weight: 500;
    line-height: 1;
    @include adaptiveValue("font-size", 96,48,2,3840,1920.98);
    @include adaptiveValue("font-size", 48,24,3,1920.98,480.98);
    .acc {
      color: $yellow;
    }
    .acc,
    .word {
      // margin-bottom: -3%;
    }
    .word {
      overflow: hidden;
      .word-span {
        display: inline-block;
        opacity: 0;
        transform: translateY(-100%);
      }
    }
    &:not(:last-child) {
      margin-bottom: 5%;
    }
  }
  // .item-first__arr
  &__arr {
  }
  // .item-first__nav
  &__nav {
  }
}

.item-services {
}

.nav-first {
  position: relative;
  background-image: url("../img/services/frame.png");
  @extend %servicesCardBg;

  // .nav-first__head
  &__head {
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;
    position: relative;
    
  }
  // .nav-first__title
  &__title {
    position: relative;
    z-index: 2;
    font-weight: 600;
    color: $yellow;
    text-transform: uppercase;
    top: toRem(-15);
    @include adaptiveValue("font-size", 120,60,2,3840,1920.98);
    @include adaptiveValue("font-size", 60,20,3,1920.98,480.98);
  }
  // .nav-first__body
  &__body {
    padding-top: toRem(30);
    display: grid;
    grid-template-columns: 56% 1fr;
    @include adaptiveValue("column-gap", 100,50,2,3840,1920.98);
    @include adaptiveValue("column-gap", 50,20,3,1920.98,480.98);
    @include adaptiveValue("padding-left", 140,70,2,3840,1920.98);
    @include adaptiveValue("padding-left", 70,20,3,1920.98,480.98);
    @include adaptiveValue("padding-right", 100,50,2,3840,1920.98);
    @include adaptiveValue("padding-right", 50,20,3,1920.98,480.98);
    @include adaptiveValue("padding-bottom", 100,50,2,3840,1920.98);
    @include adaptiveValue("padding-bottom", 50,20,3,1920.98,480.98);
   
  }
  // .nav-first__nav
  &__nav {
  }
  // .nav-first__list
  &__list {
  }
  // .nav-first__item
  &__item {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 10,0,1920,1024.98);
    }
  }
  // .nav-first__link
  &__link {
    display: grid;
    grid-template-columns: 25% 1fr;
    align-items: center;
    width: 100%;
    border: toRem(3) solid $gray57;
    border-radius: toRem(157);
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: toRem(5);
    transition: background-color .3s ease, border-color .3s ease;
    @extend %servicesCardFontSize80-40-20;
    @media (any-hover: hover){
      &:hover{
        background-color: $yellow;
        color: #000;
        border-color: $yellow;
      }
    }
  }
  // .nav-first__ic
  &__ic {
    width: auto;
    margin-left: 30%;
    @include adaptiveValue("height", 48,24,0,3840,1920.98);
  }
  // .nav-first__side
  &__side {
    padding-top: toRem(17);
    img {
      width: 100%;
      height: auto;
    }
  }
  // .nav-first__txt
  &__txt {
    @extend %servicesCardText;
    padding-left: 14%;
    margin-bottom: toRem(30);
  }
  // .nav-first__decor
  &__decor {
  }
}

%servicesCardBg {
  background-color: #000;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
}

%servicesCardText {
  line-height: 1.15;
  letter-spacing: 0.05em;
  @include adaptiveValue("font-size", 40,20,2,3840,1920.98);
  @include adaptiveValue("font-size", 20,12,3,1920.98,1024.98);
  span {
    color: $yellow;
  }
}


%servicesCardFontSize80-40-20 {
  letter-spacing: -0.05em;
  text-transform: uppercase;
  @include adaptiveValue("font-size", 80,40,2,3840,1920.98);
  @include adaptiveValue("font-size", 40,20,3,1920.98,1024.98);
}


.item-services {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 49.5vw;
  position: relative;
  background-image: url("../img/services/frame.png");
  @extend %servicesCardBg;
  @include adaptiveValue("padding-left", 112,50,2,3840,1920.98);
  @include adaptiveValue("padding-left", 50,20,3,1920.98,480.98);
  @include adaptiveValue("padding-right", 60,30,2,3840,1920.98);
  @include adaptiveValue("padding-right", 30,20,3,1920.98,480.98);
  @include adaptiveValue("padding-bottom", 60,35,2,3840,1920.98);
  @include adaptiveValue("padding-bottom", 35,20,3,1920.98,480.98);
  // .item-services__head
  &__head {
    display: grid;
    grid-template-columns: 60% 1fr;
    // margin-bottom: toRem(30);
    margin-bottom: 3%;
  }
  // .item-services__txt
  &__txt {
    margin-top: 5%;
    @extend %servicesCardText;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
  }
  // .item-services__title
  &__title {
    display: flex;
    align-items: center;
    column-gap: 4%;
    position: relative;
    height: max-content;
    white-space: nowrap;
    @extend %servicesCardFontSize80-40-20;
    img {
      width: auto;
      @include adaptiveValue("height", 70,37,2,3840,1920.98);
      @include adaptiveValue("height", 37,24,3,1920.98,1024.98);
    }
  }
  // .item-services__body
  &__body {
    flex: 1;
    img {
      aspect-ratio: 858/526;
    }
  }
}
