section {
  // border-top: toRem(2) solid #fff;
  // border-bottom: toRem(2) solid rgba(255, 255, 255, 0.185);
}

// == HERO SECTION ===============================================
.hero {
  position: relative;
  z-index: 2;
  min-height: var(--img-height);
  @media (orientation: portrait) {
      margin-bottom: toRem(40);
  }
  @media (max-width: toEm(1366.98)) and (orientation: landscape){
    padding-bottom: toRem(60);
    min-height: 100svh;
  }

  // .hero__container
  &__container {
    @media (max-width: toEm(1366.98)){
      padding-top: toRem(60);
    }
  }
  // .hero__second
  &__second {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  // .hero__t-wr
  &__t-wr {
    @media (min-width:toEm(1200.98)){
        padding-top: toRem(140);
    }
    @media (max-width: toEm(1200.98)) and (min-width: $mobileSmall) {
        padding-top: toRem(90);
    }
    @media (max-width:$mobileSmall){
      padding-top: toRem(40);
    }
    @media (orientation: landscape) {
      max-width: 99%;
    }
    @media (orientation: portrait){
      max-width: 95%; 
    }
  }
  // .hero__title
  &__title {
  }
  // .hero__right
  &__right {
    position: relative;
    @media (orientation: landscape) {
      display: grid;
      grid-template-rows: 1fr 1fr;
    }
    @media (orientation: portrait){
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-top: 100%;
    }
    @media (orientation: portrait) and (max-width: $mobileSmall) {
      padding-top: 96%;
    }
  }
  // .hero__right
  &__panda {
    position: absolute;
    top: 0;
    z-index: 2;
    height: auto;
    transform: translate(50%,50%) scale(0.5);
    @media (orientation: landscape) {
      transition: transform .95s ease;
      left: -32%;
      width: 58vw;
    }
    @media (orientation: portrait){
      transition: transform .75s ease;
      width: 65vw;
      left: -35%;         
    }
    .loaded & {
      transform: translate(0%,0%) scale(1);
    }
  }
  // .hero__row
  &__row {
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: toRem(48);
    @media (orientation: portrait) and (min-width: toEm(1400.98)) {
      row-gap: 3.5vh;
    }
  }
  // .hero__count
  &__count {
    // @media (min-width:$mobileSmall){
    //   width: 45%;
    // }
    // @media (max-width:$mobileSmall){
    //   // width: 53vw;
    //   width: 100%;
    //   align-self: flex-start; 
    //   position: relative;
    // }
    width: 45%;
    @media (orientation: portrait){
      // width: 53vw;
      width: 100%;
      align-self: flex-start; 
      position: relative;
    }
  }
}

.title-hero {
  font-weight: 700;
  line-height: 0.8;
  
  text-transform: uppercase;
  letter-spacing: -0.06em;
  transform: translate(0,50%);
  transition: transform 1s cubic-bezier(.22,.89,.34,.96);
  @media (min-width:$mobileSmall){
    font-size: 13vw;
  }
  @media (max-width:$mobileSmall){
     font-size: 11vw; 
  }
  .loaded & {
    transform: translate(0,0%);
  }
  .split-chars {
    display: block;
    overflow: hidden;
    padding-right: 0.06em;
    font-kerning: none;
    .char {
        display: inline-block;
        transform: translateY(100%);
        transition: transform .85s cubic-bezier(.22,.89,.34,.96);
        .loaded & {
            transform: translateY(0%);
        }
    }
  }
  // .title-hero__a
  &__a {
    color: $yellow;
    .loaded & {
      .char {
        transition-delay: calc(0s + var(--index) * .05s);
      }
    }
  }
  // .title-hero__b
  &__b {
    font-weight: 600;
    text-align: right;
    margin-right: toRem(26);
    .loaded & {
      .char {
        transition-delay: calc(0.15s + var(--index) * .05s);
      }
    }
  }
  // .title-hero__c
  &__c {
    .loaded & {
      .char {
        transition-delay: calc(0.3s + var(--index) * .05s);
      }
    }
  }
  // .title-hero__d
  &__d {
    color: $yellow;
    text-align: right;
    .loaded & {
      .char {
        transition-delay: calc(0.45s + var(--index) * .05s);
      }
    }
  }
}

.lines {  
  position: relative;
  left: 10%;
  width: 60%;
  overflow: hidden;
  --y1: 0%;
  --y2: 20%;
  clip-path: polygon(0 var(--y1), 100% var(--y2), 100% 0, 0 0);
  opacity: 0;
  transition: clip-path 1.2s cubic-bezier(.22,.89,.34,.96) .2s, opacity .65s ease .2s;
  // @media (min-width:$mobileSmall){
  //   padding-bottom: toRem(48);
  // }
  // @media (max-width:$mobileSmall){
  //    padding-bottom: 50%; 
  // }
  // padding-bottom: toRem(48);

  @media (orientation: portrait) and (max-width: toRem(1100.98)) {
    //  padding-bottom: 45%; 
  }

  @media (orientation: portrait) and (max-width: toRem(600.98)) {
    //  padding-bottom: 50%; 
  }
  .loaded & {
    opacity: 1;
    --y1: 100%;
    --y2: 100%;
  }
  .lines-img {
    width: 100%;
    height: auto;
  }
}

.count-hero {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 6%;
  @media (orientation: portrait){
     left: -20%;
  }
  // .count-hero__item
  &__item {
    position: relative;
    border: toRem(2) solid #fff;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease;
    .loaded & {
      opacity: 1;
      &:nth-child(1) {
        @media (orientation: landscape){
          transition-delay: 0.1s;
        }
        @media (orientation: portrait){
          transition-delay: 0.2s;
        }
      }
      &:nth-child(2) {
        transition-delay: 0.15s;
      }
      &:nth-child(3) {
        transition-delay: 0.2s;
      }
    }
  }
  // .count-hero__num
  &__num {
    font-family: "Anton";
    color: $yellow;
    position: relative;
    line-height: 1.2;
    // @media (min-width:$mobileSmall){
    //   margin-bottom: 0.2vw;
    //   font-size: 1.6vw;
    // }
    // @media (max-width:$mobileSmall){
    //   margin-bottom: 0.4vw;
    //   font-size: 3.5vw;
    // }
    margin-bottom: 0.2vw;
    font-size: 1.6vw;

    @media (orientation: portrait){
      margin-bottom: 0.4vw;
      font-size: 3.5vw;
    }
    // &::after {
    //   content:'+';
    //   position: absolute;
    //   right: -0.6vw;
    //   bottom: 0%;
    // }
  }
  // .count-hero__txt
  &__txt {
    font-family: "Gilroy";
    font-weight: 400;
    // @media (min-width:$mobileSmall){
    //   font-size: 0.85vw;
    // }
    // @media (max-width:$mobileSmall){
    //   font-size: 2.2vw;
    // }
    font-size: 0.85vw;
    @media (orientation: portrait){
      font-size: 2.2vw;
    }
  }
}


// == SERVICES SECTION =================================================
.services {
  margin-bottom: 10vw ;
  @media (orientation: portrait) {
    opacity: 0;
    .loaded & {
      opacity: 1;
      transition: opacity .5s ease .5s;
    }
  }
  // .services__body
  &__body {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    // overflow-x: scroll;
    // scroll-behavior: smooth;
  }
  // .services__item
  &__item {

    padding-top: toRem(20);
    @include adaptiveValue("padding-left", 50, 20,0,1920,1024);
    @include adaptiveValue("padding-right", 50, 20,0,1920,1024);
    &:last-child {
      padding-right: 3vw !important;
    }
    &:not(:first-child) {
      display: flex;
      align-items: center;
    }
    @media (min-width:$mobileSmall){
        
    }
  }
}

.item-first {
  min-width: 100vw;
  display: grid;
  @media (orientation: landscape){
    grid-template-columns: 1fr 51vw;
  }
  @media (orientation: landscape) and (max-width: toEm(820.98)) {
    grid-template-columns: 40% 1fr;
  }
  @media (orientation: portrait){
      grid-template-columns: 1fr;
  }
	// .item-first__wrapper
	&__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (orientation: landscape){
      padding-top: toRem(15);
      padding-right: toRem(40);
    }
    @media (orientation: portrait){
      position: relative;
    }
	}
  // .item-first__txts
  &__txts {
    // max-width: 60%;
    @media (orientation: portrait){
      position: absolute;
      bottom: toRem(30);
      left: 0;
    }
  }
  // .item-first__txt
  &__txt {
    font-weight: 500;
    @media (orientation: landscape) {
      font-size: 2.5vw;
    }
    @media (orientation: landscape) and (max-width: toEm(820.98)) {
      font-size: toRem(24);
    }
    @media (orientation: portrait){
      font-size: 3vw;
    }
    .acc {
      color: $yellow;
    }
    .acc,
    .word {
      // margin-bottom: -3%;
    }
    .word {
      overflow: hidden;
      .word-span {
        display: inline-block;
        opacity: 0;
        transform: translateY(100%);
        @media (orientation: portrait) {
          .loaded & {
            opacity: 1; 
            transform: translateY(0);
            transition: transform .65s ease;
            transition-delay: calc(.4s + var(--index) * 0.03s);
          }
        }
      }
    }
    &:not(:last-child) {
      margin-bottom: 5%;
    }
  }
  // .item-first__arr
  &__arr {
    @media (orientation: portrait) {
      opacity: 0;
      transform: translate(0,-50%);
      transition: transform .45s ease, opacity .65s ease;
      .loaded & {
        opacity: 1;
        transform: translate(0,0%);
        transition-delay: .45s;
      }
    }
  }
  // .item-first__nav
  &__nav {
  }
}

.nav-first {
  position: relative;
  background-image: url("../img/services/frame.png");
  @extend %servicesCardBg;

  // .nav-first__head
  &__head {
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;
    position: relative;
    
  }
  // .nav-first__title
  &__title {
    position: relative;
    z-index: 2;
    font-weight: 600;
    color: $yellow;
    text-transform: uppercase;
    // @include adaptiveValue("font-size", 120,60,2,3840,1920.98);
    // @include adaptiveValue("font-size", 60,20,3,1920.98,480.98);
    overflow: hidden;
    @media (orientation: landscape){
      top: toRem(-15);
      font-size: 3vw;
    }
    @media (orientation: portrait){
      top: toRem(-8);
      font-size: 6vw;
    }
    span {
      display: inline-block;
      transform: translateY(100%);
      @media (orientation: portrait) {
        .loaded & {
          transition: transform .45s ease .6s;
          transform: translateY(0%);

        }
      }
    }
  }
  // .nav-first__body
  &__body {
    display: grid;
    grid-template-columns: 56% 1fr;
    @include adaptiveValue("column-gap", 100,50,2,3840,1920.98);
    @include adaptiveValue("column-gap", 50,20,3,1920.98,480.98);
    @include adaptiveValue("padding-left", 140,70,2,3840,1920.98);
    @include adaptiveValue("padding-left", 70,15,3,1920.98,480.98);
    @include adaptiveValue("padding-right", 100,50,2,3840,1920.98);
    @include adaptiveValue("padding-right", 50,15,3,1920.98,480.98);
    @include adaptiveValue("padding-bottom", 100,50,2,3840,1920.98);
    @include adaptiveValue("padding-bottom", 50,15,3,1920.98,480.98);
    @media (min-width:$mobileSmall){
      padding-top: toRem(30);
    }
    @media (max-width:$mobileSmall){
      padding-top: toRem(20);
    }
  }
  // .nav-first__nav
  &__nav {
  }
  // .nav-first__list
  &__list {
  }
  // .nav-first__item
  &__item {
    @media (orientation: landscape) {
      opacity: 0;
    }
    @media (orientation: portrait) {
      opacity: 1 !important;
    }
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 6,0,1920,480.98);
    }
  }
  // .nav-first__link
  &__link {
    display: grid;
    grid-template-columns: 25% 1fr;
    align-items: center;
    width: 100%;
    border-radius: toRem(157);
    padding-right: toRem(5);
    transition: background-color .3s ease, border-color .3s ease;
    @extend %servicesCardFontSize80-40-20;
    @media (any-hover: hover){
      &:hover{
        background-color: $yellow;
        color: #000;
        border-color: $yellow;
      }
    }
    @media (orientation: landscape){
      padding-top: 2%;
      padding-bottom: 2%;
    }
    @media (orientation: portrait){
      padding-top: 3%;
      padding-bottom: 3%;
    }
    @media (min-width:$mobile){
      border: toRem(3) solid $gray57;
    }
    @media (max-width:$mobile){
      border: toRem(1) solid $gray57;
    }
  }
  // .nav-first__ic
  &__ic {
    margin-left: 30%;
    height: auto;
    @media (orientation: landscape){
      width: 1.3vw;
    }
    @media (orientation: portrait){
      width: 2.8vw;
    }
  }
  // .nav-first__side
  &__side {
    
    img {
      width: 100%;
      height: auto;
     
    }
    @media (min-width:$mobileSmall){
      padding-top: toRem(17);
    }
  }
  // .nav-first__txt
  &__txt {
    @extend %servicesCardText;
    @media (min-width:$mobileSmall){
      padding-left: 14%;
      margin-bottom: toRem(30);
    }
    @media (max-width:$mobileSmall){
      margin-bottom: toRem(10);
    }
    @media (orientation: landscape){
      font-size: .9vw;
    }
    @media (orientation: portrait){
      font-size: 3vw;
    }
  }
  // .nav-first__decor
  &__decor {
  }
}

%servicesCardBg {
  background-color: #000;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
}

%servicesCardText {
  line-height: 1.15;
  letter-spacing: 0.05em;
  span {
    color: $yellow;
  }
}


%servicesCardFontSize80-40-20 {
  letter-spacing: -0.05em;
  text-transform: uppercase;
  // @include adaptiveValue("font-size", 80,40,2,3840,1920.98);
  // @include adaptiveValue("font-size", 40,20,3,1920.98,1024.98);
  font-size: 2vw;
  @media (orientation: portrait) {
    font-size: 3.7vw;
  }
}


.item-services {
  transform: scale(0.5) translateY(0%);
  display: flex;
  flex-direction: column;
  height: 100%;
  // height: 30%;
  position: relative;
  background-image: url("../img/services/frame.png");
  @extend %servicesCardBg;
  // @include adaptiveValue("padding-left", 112,50,2,3840,1920.98);
  // @include adaptiveValue("padding-left", 50,20,3,1920.98,480.98);
  // @include adaptiveValue("padding-right", 60,30,2,3840,1920.98);
  // @include adaptiveValue("padding-right", 30,20,3,1920.98,480.98);
  // @include adaptiveValue("padding-bottom", 60,35,2,3840,1920.98);
  // @include adaptiveValue("padding-bottom", 35,20,3,1920.98,480.98);
  @media (orientation: landscape) {
    min-width: 49.5vw;
    padding-left: 3vw;
    padding-right: 2vw;
    padding-bottom: 3vw;
  }
  @media (orientation: portrait) {
    min-width: 90vw;
    padding-left: 6vw;
    padding-right: 3vw;
    padding-bottom: 6vw;
  }
  // .item-services__head
  &__head {
    display: grid;
    grid-template-columns: 58% 1fr;
    // margin-bottom: toRem(30);
    column-gap: 2.5%;
    margin-bottom: 3%;
  }
  // .item-services__txt
  &__txt {
    margin-top: 5%;
    @extend %servicesCardText;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    @media (orientation: landscape){
      font-size: .9vw;
    }
    @media (orientation: portrait){
      font-size: 1.8vw;
    }
  }
  // .item-services__title
  &__title {
    display: flex;
    align-items: center;
    column-gap: 4%;
    position: relative;
    height: max-content;
    white-space: nowrap;
    @extend %servicesCardFontSize80-40-20;
    img {
      // height: auto;
      width: auto;
      @include adaptiveValue("height", 70,37,2,3840,1920.98);
      @include adaptiveValue("height", 37,24,3,1920.98,1024.98);
    }
  }
  // .item-services__body
  &__body {
    flex: 1;
    position: relative;
  }
	// .item-services__img
	&__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      aspect-ratio: 858/526;
    }
  }
}

// == PARTNERS SECTION =================================================
.partners {
  // .partners__container
  &__container {
    position: relative;
    left: 80%;
  }
  // .partners__head
  &__head {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: toRem(20);
    @include adaptiveValue("margin-bottom", 140, 80,0,1920,1440.98);
  }
  // .partners__title-wr
  &__title-wr {

  }
  // .partners__title
  &__title {
    color: $yellow;
    position: relative;
    display: inline;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-attachment: scroll; 
    -webkit-text-fill-color: rgba(254,237,1,0.1);
    background-image: linear-gradient(#FDDA04, #FDDA04)
  }
  // .partners__lists
  &__lists {
    position: relative;
    top: 60%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: toRem(95);
    padding-left: 12.5%;
    padding-right: 12.5%;
    @include adaptiveValue("column-gap", 95, 60,0,1920,1280.98);
  }
  // .partners__list
  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    @include adaptiveValue("row-gap", 20, 10,0,3840,1920.98);
    &:nth-child(1) {

    }
    &:nth-child(2) {
      top: 30%;
    }
    &:nth-child(3) {
      top: 60%
    }
  }
  // .partners__item
  &__item {
    @include adaptiveValue("height", 120,56,2,3840,1920.98);
    @include adaptiveValue("height", 56,30,3,1920.98,1024.98);
  }
  // .partners__img
  &__img {
  }
  // .partners__advisers
  &__advisers {
  }
}

.advisers {
  display: grid;
  grid-template-columns: 1fr 58%;
  position: relative;
  left: 20%;
  transform: translateY(30%);
  // .advisers__eyes
  &__eyes {
    padding-top: toRem(20);
    padding-right: toRem(65);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  // .advisers__eye-svg
  &__eye-svg {
    flex: 0 0 47%;
    height: auto;
  }
  // .advisers__block
  &__block {
    position: relative;
    top: 50%;
    opacity: 0;
  }
	// .advisers__head
	&__head {
    max-width: 50%;
    @include adaptiveValue("margin-bottom", 80, 40,0,1920,1440.98);
	}
  // .advisers__title
  &__title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2%;
    @include adaptiveValue("font-size", 96,48,2,3840,1920.98);
    @include adaptiveValue("font-size", 48,24,3,1920.98,1024.98);
  }
  // .advisers__subtitle
  &__subtitle {
    font-weight: 500;
    line-height: 1.3;
    @include adaptiveValue("font-size", 40,20,2,3840,1920.98);
    @include adaptiveValue("font-size", 20,12,3,1920.98,1024.98);
  }
  // .advisers__list
  &__list {

  }
  // .advisers__item
  &__item {
  
  }
  // .advisers__img
  &__img {
  }
  // .list-advisers__block
  &__block {
  }
  // .advisers__name
  &__name {
   
  }
  // .advisers__position
  &__position {
  }
}

.list-advisers {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding-right: 12%;
  // .list-advisers__item
  &__item {
    display: grid;
    grid-template-columns: 48% 1fr ;
  }
  // .list-advisers__img
  &__img {

  }
  // .list-advisers__block
  &__block {
    padding-top: toRem(20);
  }
  // .list-advisers__name
  &__name {
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
    color: $yellow;
    margin-bottom: 5%;
    @include adaptiveValue("font-size", 40,20,2,3840,1920.98);
    @include adaptiveValue("font-size", 20,12,3,1920.98,1024.98);
  }
  // .list-advisers__position
  &__position {
    line-height: 1.15;
    @include adaptiveValue("font-size", 32,16,2,3840,1920.98);
    @include adaptiveValue("font-size", 16,10,3,1920.98,1024.98);
  }
}

// == PORTFOLIO SECTION =================================================
.portfolio {
  margin-top: toRem(200);
  // .portfolio__container
  &__container {
    position: relative;
    left: 50%;
  }
  // .portfolio__title
  &__title {
  }
}




